$go-back-height: 20px;

.layout {
  width: 100vw;
  height: calc(100vh - 38px);
  display: flex;
  flex-direction: column;
}

/* .menu {
  width: 250px;
  height: 100%;
  background-color: rgb(196, 196, 196);
} */

.goBack {
  height: $go-back-height;
  margin-left: 20px;
  margin-top: 20px;
}

.dashboard {
  flex: 1;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "stats stats stats progress progress progress"
    "comp comp comp progress progress progress"
    "comp comp comp table table table"
    "comp comp comp table table table";
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(6, minmax(1fr, 350px));
  grid-template-rows: repeat(4, 1fr);
}

.stats {
  grid-area: stats;
}
.progress {
  grid-area: progress;
}
.comp {
  grid-area: comp;
}
.table {
  grid-area: table;
}
